<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=almacenamientotollbooth;AccountKey=wm7Ee4Juzf6GCwWp491hP8WXMmCtV0wV6WW9qt7/suVbDm3ChaqRMLR6CHokeRniDzpjexXAzaXYD955A+ouSg==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>